*{
    box-sizing:border-box;
}


#form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #b7d7e8;
}

#table-section {
    display: flex;
    justify-content: center;
    height: 250px;
    background-color: #daebe8;
    padding: 10px;
}

#form-div {
    border: solid 2px black;
    padding: 20px;
    background-color: #87bdd8;
    font-size: 20px;
    width: 460px;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input, select {
    border: solid 1px black;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
}

#buttons {
    display: inline-block;
    width: 49%;
}

button:active{
    background-color:lightcoral;
    cursor:pointer;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login, #show, #delete {
    display: block;
    width: 80px;
    margin: 0px auto;
    font-size: 20px;
    /*border-radius: 10px;*/
}

table, tr, td,th {
    border: solid 2px black;
    padding: 5px;
    width: 460px;
    height: 50px;
}

tr,td {
    background-color: #f1e3dd;
}

.valid{
    border:solid 3px green;
}

.Invalid {
    border: solid 3px brown;
}